<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First View</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<body>
    <div class="container">

    <h1>Now we're serving views! 🎉</h1>
    @{
        List<string> names = new(){"Bob","Alice","Alex Miller"};
        foreach (string name in names)
        {
            if (name == "Alice"){
                <p>Alice is the greatest!</p>
                <img src="~/img/cake.jpg" alt="cake">
            }
            <p>Here's a name: @(name + " LastName") -suffix</p>
        }
    }

    @for (int i = 0; i < ViewBag.Number; i++)
    {
        <p>@ViewBag.Name</p>
    }
    </div>
</body>
</html>