<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Form</title>
    <link rel="stylesheet" href="~/css/bootstrap.css">
</head>
<body>
    <form action="process" method="post">
        <label for="Passcode">Please give passcode</label>
        <input type="text" name="Passcode" >
        <button class="btn btn-primary">Submit</button>

    </form>
</body>
</html>